.media-list {
    list-style: none;
    padding: 2rem;
    &__item {
        min-height: 20rem;
        padding: 2rem;
        margin-bottom: 1rem;
        &__title {
            margin-bottom: 1.5rem;
            display: block;
            font-size: 2rem;
            color: $color-black;
        }
        &__image {
            box-shadow: 0 2rem 2rem rgba($color-black, 0.5);
            transition: all 1s;
            width: 15rem;
            height: 15rem;
            float: left;
            shape-outside: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            transform: translateX(-3rem);
            &:hover {
                height: 15rem;
                width: 15rem;
                transform: translateX(-4rem) scale(1.2);
                filter: drop-shadow(2px 2px 2px $color-black) asepia(.5);
                }
        }
        &__summary {
            
        }
    }
}