.center-box {
    &__wrapper {
        font-size: $default-font-size;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        background-color: $color-grey-light-1;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40rem;
    background-color: $color-white;
    padding: 2rem;
    box-shadow: 0 .3rem .5rem rgba($color-black, .4);
    &__title {
        font-size: 3rem;
        font-weight: 700;
    }
    &__form {
        
    }
}