@import "../../../../styles//abstracts/variables";

.form {
    background-color: lighten($color-primary, 30);
    padding: 2rem;
    padding-bottom: 4rem;
    box-shadow: 0 .3rem .5rem rgba($color-black, .4);

    border-radius: 5px;
    width: 60vw;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    &__add-variant {
        font-size: 2.2rem;
        border-radius: 50px;
        padding: .3rem 1rem;
        border: 1px $color-primary solid; 
        display: inline;
        background-color: $color-white;
        color: $color-black;

        ::after {
            color: $color-black;
            
        }
    }
    &__title {
        font-weight: 600;
        font-size: 2.5rem;
    }
    &__field {
        label {
            display: block;
        }
        text-align: start;
        &__input {
            font-size: 1.5rem;
            border-radius: 5px;
            border: 1px $color-grey-light-2 solid;
            padding: 1rem 2rem;
        }
    }
}