@import '../../../../styles/abstracts/variables';
.question {
    font-size: 3rem;
    color: $color-black;
}
.answer-list {
    list-style: none;
    z-index: 1;

    &__item {
        max-width: 50rem;
        margin-top: 2.5rem;
        padding: 1rem;
        border-radius: 5px;
        border: .5px darken($color-grey-light-2, 15) solid;

    }
}