<nav class="navbar">
  <ul class="navbar__menu">
    <div class="navbar__menu__logo">
      <img src="../../../assets/logo-placeholder.png" alt="">
    </div>
    <li class="navbar__menu__item" routerLink="blogs" routerLinkActive="navbar__menu__item__active"><a>The Blog</a></li>
    <li class="navbar__menu__item" routerLink="games" routerLinkActive="navbar__menu__item__active"> <a>The Games</a></li>
    <li class="navbar__menu__item" routerLink="projects" routerLinkActive="navbar__menu__item__active"><a>Personal
        Projects</a></li>
    <li class="navbar__menu__item" routerLink="contact" routerLinkActive="navbar__menu__item__active"><a>Get In Touch</a></li>
    <li class="navbar__menu__item" routerLink="about" routerLinkActive="navbar__menu__item__active"><a>About Me</a></li>
    <li class="navbar__menu__item" routerLink="admin" routerLinkActive="navbar__menu__item__active"><a>Admin</a></li>
  </ul>


</nav>